RESEND_API_KEY=
RESEND_FROM_EMAIL=Venture Voyager Services <concierge@venture-voyagers.com>
VVS_INTERNAL_ALERT_EMAIL=concierge@venture-voyagers.com
HUBSPOT_ACCESS_TOKEN=
HUBSPOT_TICKET_PIPELINE=
HUBSPOT_TICKET_STAGE=
