RESEND_API_KEY=
RESEND_FROM_EMAIL=Venture Voyager Services <concierge@venture-voyagers.com>
VVS_INTERNAL_ALERT_EMAIL=concierge@venture-voyagers.com
HUBSPOT_ACCESS_TOKEN=
HUBSPOT_TICKET_PIPELINE=
HUBSPOT_TICKET_STAGE=
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_ACCOUNTS_DOMAIN=https://accounts.zoho.com
ZOHO_CRM_API_DOMAIN=https://www.zohoapis.com
